.my-requests {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0 16px;
}

.requests-title {
  font-size: 1.125rem;
  color: #333;
  margin-bottom: 8px;
  margin-left: 15px;
}

.requests-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
